{% extends 'base.html.twig' %}

{% block body %}


    <!-- Formulaire de contact -->
     <section class="bg-cover bg-center bg-fixed h-screen flex items-center" style="background-image: url('{{ asset('images/hotel-de-ville.jpg') }}')">
        <div class="container mx-auto">
            <div class="text-center mb-12">
                <h2 class="text-4xl font-bold text-white">Envoyez-nous un message</h2>
               
            </div>

            <div class="flex flex-col md:flex-row gap-8">
                <!-- Formulaire -->
                <div class="bg-white p-8 rounded-lg shadow-lg flex-1">
                    {{ form_start(form, {'attr': {'id': 'formContact', 'class': 'space-y-6'}}) }}
                    
                    <div>
                        {{ form_label(form.firstName, null, {'label_attr': {'class': 'block text-gray-700 font-medium mb-2'}}) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                        {{ form_errors(form.firstName) }}
                    </div>

                    <div>
                        {{ form_label(form.lastName, null, {'label_attr': {'class': 'block text-gray-700 font-medium mb-2'}}) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                        {{ form_errors(form.lastName) }}
                    </div>

					

                    <div>
                        {{ form_label(form.email, null, {'label_attr': {'class': 'block text-gray-700 font-medium mb-2'}}) }}
                        {{ form_widget(form.email, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                        {{ form_errors(form.email) }}
                    </div>

                  

                    <div>
                        {{ form_label(form.message, null, {'label_attr': {'class': 'block text-gray-700 font-medium mb-2'}}) }}
                        {{ form_widget(form.message, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                        {{ form_errors(form.message) }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="bg-blue-500 text-white px-6 py-2 rounded-lg hover:bg-blue-600 transition duration-300">
                            Envoyer le message
                        </button>
                    </div>

                    {{ form_end(form) }}
                </div>

                <!-- Informations de contact -->
                <div class="bg-white p-8 rounded-lg shadow-lg flex-1">
                    <h3 class="text-2xl font-bold text-gray-800 mb-4">Nos coordonnées</h3>
                    <p class="text-gray-600 mb-4">Nous sommes basés à Saint-Etienne, dans le département de la Loire.</p>
                    <ul class="space-y-4">
                        <li class="flex items-center">
                            <i class="material-icons text-blue-500 mr-4">&#xE55F;</i>
                            <span>Sainté City Tour, Saint-Etienne</span>
                        </li>
                        <li class="flex items-center">
                            <i class="material-icons text-blue-500 mr-4">&#xE61C;</i>
                            <span>+33 (0) 6 60 06 66 00</span>
                        </li>
                        <li class="flex items-center">
                            <i class="material-icons text-blue-500 mr-4">&#xE916;</i>
                            <span>9h - 18h du Lundi au Vendredi</span>
                        </li>
                        <li class="flex items-center">
                            <i class="material-icons text-blue-500 mr-4">&#xE0E1;</i>
                            <span>
                                <a href="mailto:georges@luxuryservices.com" class="text-blue-500 hover:underline">
                                    saintecitytour@gmail.com
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
	
{% endblock %}

{% block javascriptFooter %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var map = L.map('map').setView([45.4378103, 4.381062], 15); // Zoom niveau 15

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        L.marker([45.4378103, 4.381062]).addTo(map)
            .bindPopup('Bienvenue')
            .openPopup();
    });
</script>
{% endblock %}