<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}SaintéTour
			{% endblock %}
		</title>
		{# templates/base.html.twig #}

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		<!-- Fichier CSS principal -->
		{# <link
				rel="stylesheet" href="{{ asset('css/styles.css') }}"> #}

		<!-- Intégration de Font Awesome ou d'autres icônes -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
		<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


	</head>
	<body>

		<header>
			<nav class="bg-gray-900 shadow-md">
				<div class="container mx-auto px-4 py-3">
					<div
						class="flex items-center justify-between">

						<!-- Left Menu -->
						<div class="flex space-x-4 text-white">
							<ul class="flex space-x-4">
								<li class="text-gray-300 hover:text-white">
									<a href="{{ path('app_lieu') }}">Lieux</a>
								</li>
								<li class="relative text-gray-300 hover:text-white">
									<a href="{{ path('app_itineraire') }}">Itinéraires</a>
								</li>

								<li class="relative text-gray-300 hover:text-white">
									<a href="{{ path('app_map') }}">Carte</a>
								</li>
							</ul>
						</div>

						<!-- Logo -->
						<a href="{{ path('app_home') }}" class="text-white text-2xl font-bold">Logo</a>

						<!-- Right Menu -->
						<div class="flex space-x-4 text-white">
							<ul class="flex space-x-4">
								<li class="text-gray-300 hover:text-white">
									{% if app.user %}
										<li>
											<a href="{{ path('app_profile') }}">Profil</a>
										</li>
										<li>
											<a href="{{ path('app_logout') }}">Déconnexion</a>
										</li>
									{% else %}
										<a href="{{ path('app_login') }}">Connexion</a>
									</li>
								</li>
								<li class="text-gray-300 hover:text-white">
									<a href="{{ path('app_register') }}">Inscription</a>
								</li>
							{% endif %}
						</ul>
					</div>

				</div>
			</div>
		</nav>
	</body>
</html></header><main>
{% block body %}{% endblock %}</main><footer class="bg-gray-800 text-white py-4 mt-auto">
<div class="container mx-auto text-center">
	<div
		class="flex justify-between items-start space-x-10">

		<!-- Left column -->
		<div class="flex flex-col space-y-4">
			<a href="{{ path('app_mentions_legales') }}" class="hover:text-gray-400">Mentions Légales</a>
			<a href="{{ path('app_politique_confidentialite') }}" class="hover:text-gray-400">Politique de confidentialité</a>
			<a href="{{ path('app_conditions_utilisation') }}" class="hover:text-gray-400">Conditions d'utilisation</a>
		</div>

		<!-- Center column -->
		<div class="flex flex-col justify-center items-center text-gray-300">
			<p>&copy; 2025 SaintéTour. Tous droits réservés.</p>
		</div>

		<!-- Right column -->
		<div class="flex flex-col space-y-4">
			<a href="{{ path('app_qui_sommes_nous') }}" class="hover:text-gray-400">Qui sommes-nous ?</a>
			<a href="{{ path('app_home') }}" class="hover:text-gray-400">Nous contacter</a>
		</div>

	</div>
</div>
</footer>
    {# Charge les scripts uniquement dans la section 'map' #}
    {# {% block map %}{% endblock %} #}

    
</body></html>
